.header {
    display: flex;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.add-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#btn {
    background-color: #24b124;
    border: none;
    height: 26px;
    border-radius: 3px;
    color: white;
}

#inputItem {
    margin-right: 5px;
}

#list {
    display: flex;
    flex-direction: column;
    
}

.div-todo-task {
    display: flex;
    justify-content: space-between;

}

.btn-delete {
    margin-left: 5px;
    
}

.checked {
    color: rgb(92, 94, 92);
    text-decoration: line-through;

}

.div-todo-task {
    padding: 5px;
    background-color: rgb(189, 192, 192);
    margin-bottom: 5px;
    border: 1px solid rgb(74, 145, 8);
    border-radius: 3px;
    color: rgb(15, 15, 14);
    font-weight: bold;
}

input {
    border-radius: 5px;
    height: 18px;
    border: 1px solid black;
    padding: 3px;
}

.btn-delete {
    background-color: #24b124;
    border: none;
    height: 22px;
    border-radius: 2px;
    color: white;
    
}