.header {
    display: flex;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.add-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#btn {
    background-color: #47f347;
    border: none;
    height: 22px;
    border-radius: 3px;
}

#inputItem {
    margin-right: 10px;
}

#list {
    display: flex;
    flex-direction: column;
    
}

.div-todo-task {
    display: flex;
    justify-content: space-between;

}

.btn-delete {
    margin-left: 5px;
    
}